# Introducción
Para desarrollar tu primer laboratorio tendrás que cargar algunas herramientas básicas que te permitirán trabajar con los datos y hacer tus primeros análisis.

Las actividades que desarrollaremos en este laboratorio son las siguientes:

- Cargar un archivo con datos en tu entorno de trabajo
- Exploración de datos.

¡Empezamos!
## Importar las librerías
Antes de empezar vamos a importar las siguientes librerías:

- Pandas
- Numpy
- Matplotlib

In [2]:
from google.colab import drive
drive.mount('/content/Drive')

Drive already mounted at /content/Drive; to attempt to forcibly remount, call drive.mount("/content/Drive", force_remount=True).

In [3]:
# importa las librerías a nuestro entorno de trabajo

import numpy as np # Programación vectorial
import matplotlib.pyplot as plt # Visualización
import pandas as pd # Estructura y manipulación de datos

Basta con importar una vez las librerías a nuestro entorno. Si al momento de ejecutar el código aparece un error, considera lo siguiente:

1. Esta bien escrito el comando
2. Tienes instalada la librería en tu entorno local (En caso de que no estés usando Colab)

Una de las habilidades básicas que debes aprender es corregir errores y buscar la documentación para dar solución a un problema.

## Cargar un archivo de datos

Hay varias maneras de cargar un archivo de datos en nuestro entorno. El archivo lo podemos llamar desde una URL o tener guardado en nuestra computadora.

Si queremos cargar un archivo que desde una URL ejecutamos el siguiente comando

In [4]:
url = '/content/Drive/MyDrive/Machine/Clase 10-03/Datos/1.1.4_Countries.csv'
df = pd.read_csv(url, sep=";")

En la celda anterior se ejecutan dos accciones:

1. Se guarda el archivo csv que tiene los datos en la variable "url"
2. Se crea una nueva variable de tipo (*dataframe de pandas*) con los datos del archivo importado. La separación de los datos se realiza a través ";"

En caso de que quieras subir un archivo local tendrás que ejecutar lo siguiente:

In [5]:
from google.colab import files
uploaded = files.upload()

Una vez que tengas el archivo cargado podrás crear un dataframe con Pandas para empezar con tu análisis.

Una tercera forma es montar tu unidad de Google Drive en tu entorno de trabajo. Tendrás que dar permiso para que Colab pueda acceder a tu unidad de almacenamiento de Drive.

Debes ejecutar los siguientes comandos en una celda de código


```
from google.colab import drive
drive.mount('/content/drive')
```

### Explorando el archivo con los datos
Hay varias formas de explorar un archivo. Una de las más comunes es revisando las primeras filas.
Por ejemplo, para mirar las primeras cincoo filas del archivo guardado en la variable "df" tenemos que ejecutar lo siguiente:

In [6]:
df.head(5)

,alpha_2,alpha_3,area,capital,continent,currency_code,currency_name,eqivalent_fips_code,fips,geoname_id,languages,name,neighbours,numeric,phone,population,postal_code_format,postal_code_regex,tld
0,AD,AND,468.0,Andorra la Vella,EU,EUR,Euro,NaN,AN,3041565,ca,Andorra,"ES,FR",20,376,84000,AD###,^(?:AD)*(\d{3})$,.ad
1,AE,ARE,82880.0,Abu Dhabi,AS,AED,Dirham,NaN,AE,290557,"ar-AE,fa,en,hi,ur",United Arab Emirates,"SA,OM",784,971,4975593,NaN,NaN,.ae
2,AF,AFG,647500.0,Kabul,AS,AFN,Afghani,NaN,AF,1149361,"fa-AF,ps,uz-AF,tk",Afghanistan,"TM,CN,IR,TJ,PK,UZ",4,93,29121286,NaN,NaN,.af
3,AG,ATG,443.0,St. John's,NaN,XCD,Dollar,NaN,AC,3576396,en-AG,Antigua and Barbuda,NaN,28,+1-268,86754,NaN,NaN,.ag
4,AI,AIA,102.0,The Valley,NaN,XCD,Dollar,NaN,AV,3573511,en-AI,Anguilla,NaN,660,+1-264,13254,NaN,NaN,.ai

# Exploración de Datos

Carga el archivo TITANIC:CSV desde tu disco duro.

In [11]:
url = '/content/Drive/MyDrive/Machine/Clase 10-03/Datos/1.1.5_Titanic.csv'
titanic = pd.read_csv(url, sep=",")

Veamos un análisis rápido del DATAFRAME.

In [12]:
titanic.head() # Con el método pd.DataFrame.head() podemos explorar las primeras filas de un pd.DataFrame

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [13]:
titanic.tail() # Con el método pd.DataFrame.tail() podemos explorar las últimas filas de un pd.DataFrame

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [36]:
titanic.sample() # Con el método pd.DataFrame.tail() podemos explorar una fila al azar de un pd.DataFrame

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
297,1189,0,3,"Samaan, Mr. Hanna",male,NaN,2,0,2662,21.6792,NaN,C

En Pandas también podemos acceder a columnas específicas de nuestro conjunto de datos, pero en el caso de Pandas, podemos acceder facilmente mediante el nombre de la columna

In [15]:
titanic.Name # Extraemos la columna Name  Pandas retorna un pd.Series

0                                  Kelly, Mr. James
1                  Wilkes, Mrs. James (Ellen Needs)
2                         Myles, Mr. Thomas Francis
3                                  Wirz, Mr. Albert
4      Hirvonen, Mrs. Alexander (Helga E Lindqvist)
                           ...
413                              Spector, Mr. Woolf
414                    Oliva y Ocana, Dona. Fermina
415                    Saether, Mr. Simon Sivertsen
416                             Ware, Mr. Frederick
417                        Peter, Master. Michael J
Name: Name, Length: 418, dtype: object

In [19]:
titanic["Age"] # Otra sintaxis para extraer una columna

0      34.5
1      47.0
2      62.0
3      27.0
4      22.0
       ...
413     NaN
414    39.0
415    38.5
416     NaN
417     NaN
Name: Age, Length: 418, dtype: float64

In [20]:
titanic[["Sex","Pclass"]] # Podemos también extraer una lista de columnas

        Sex  Pclass
0      male       3
1    female       3
2      male       2
3      male       3
4    female       3
..      ...     ...
413    male       3
414  female       1
415    male       3
416    male       3
417    male       3

[418 rows x 2 columns]

Para continuar con la exploración de nuestros datos, el método `pd.Series.describe()` nos devuelve una serie de descriptores de la columna.

In [ ]:
titanic.Age.describe()

In [ ]:
titanic.Sex.describe()

El método `pd.Series.value_counts()` nos permite conocer la distribución de una columna de valores discretos.

In [ ]:
titanic[(titanic.Age < 5) & (titanic.Survived == 0)] # Filtramos sólo las personas menores a 5 años que no sobrevivieron

In [ ]:
titanic[titanic.Name.str.contains("Rose")] # Con el método pd.Series.str.contains() podemos filtrar una columna de texto

Con el método `pd.DataFrame.groupby()` podemos agrupar los datos por los valores de una columna específica. Y con el método `pd.core.groupby.DataFrameGroupBy.agg()` podemos agregar los datos de cada grupo con un método específico.

In [ ]:
grouped_titanic = titanic[["Pclass","Fare"]].groupby(by = "Pclass") # Agrupamos los datos por la clase del pasajero
grouped_titanic.agg("mean") # Agregamos los datos utilizando el promedio

In [33]:
titanic.PassengerId.describe()

count     418.000000
mean     1100.500000
std       120.810458
min       892.000000
25%       996.250000
50%      1100.500000
75%      1204.750000
max      1309.000000
Name: PassengerId, dtype: float64

# Cuestionario

1. ¿Cuáles son los atributos del archivo TITANIC?

  - PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked.

2. Despliega una transacción o registro al azar del archivo TITANIC.

  - titanic.sample()

3. ¿Cuántos datos categóricos ordinales hay en Pclass?

  - Contiene 3 datos categoricos (1, 2 y 3 clase).

4. ¿Cuántos valores únicos tiene la variable categórica nominal Sex?
  
  - Son dos los valores categoricos nominales (male, female).

5. ¿Cuántos valores únicos tiene la variable categórica Embarked?

  - Son 3 los valores categoricos (S, C, Q).

6. ¿Cuál es el promedio de la variable numérica continua Age?

  - El promedio de las edades es de 30 años.

7. ¿Cuál es la desviación estandar de la variable numérica continua Fare?

  - La std de Fare es de 55.9.

8. ¿Qué tipo de datos es la variable PassangerId?

  - titanic["PassengerId"] = titanic["PassengerId"].astype(int)
  - PassengerId es de tipo entero (int64), no float.